<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpforge.autoprefs">

    <application>
        <provider
            android:name=".ContextProvider"
            android:authorities="${applicationId}.com.dpforge.autoprefs"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>